/* styles.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    flex: 1; /* Расширение основного контента для заполнения пространства между шапкой и футером */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
